
<div class="mainparent" ng-divide>

    <div class="top_place"></div>
    <div class="search">

        <div class="logo">
            <img src="images/brand.png" />
        </div>
        <div class="brandname">
            <span>BuckBuckGo</span>
        </div>
        <div class="form-group has-feedback">
            <input type="text" class="form-control" id="inputSuccess2" ng-model="query" ng-keyup="$event.keyCode==13 && Search($event)" />
            <span class="glyphicon glyphicon-search form-control-feedback"></span>
        </div>

    </div>
    <div class="top_place"></div>
    
    <div class="divider">
    </div>

    <div class="protext">
        <span>Try Pro Search</span>
    </div>
    <!--
    <div class="plans_container">
        <div class="plan">

            <div class="plan_header">
             
                <div class="plan_name">
                    <h3>Light</h3>
                    <span>Great for small bussiness</span>
                </div>
            </div>
            
            <div  class="plan_price">
                <div class="plan_price_text">
                    <span class="dollar">
                        $
                    </span>
                    <span class="amount">
                        5
                    </span>
                    <span class="period">
                        Month
                    </span>
                </div>

            </div>

            <div class="features">
                <ul class="list-group">
                    <li class="list-group-item">Cras justo odio</li>
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                    <li class="list-group-item">Morbi leo risus</li>
                    <li class="list-group-item">Porta ac consectetur ac</li>
                    <li class="list-group-item">Vestibulum at eros</li>
                </ul>
            </div>

        </div>
    </div>
        -->
</div>