
<div class="mainparent" ng-divide>

    <div class="top_place"></div>
    <div class="search">

        <div class="logo">
            <img src="images/brand.png" />
        </div>
        <div class="brandname">
            <span>BuckBuckGo</span>
        </div>
        <div class="form-group has-feedback">
            <input type="text" class="form-control" id="inputSuccess2" ng-model="query" ng-keyup="$event.keyCode==13 && Search($event)" />
            <span class="glyphicon glyphicon-search form-control-feedback"></span>
        </div>

    </div>
    <div class="top_place"></div>
    
    <div class="divider">
    </div>

    <div class="protext">
        <span>Try Pro Search</span>
    </div>
    
    <div class="plans_container">
        <div class="plan">

            <div class="plan_header">
             
                <div class="plan_name">
                    <h3>LIGHT</h3>
                    <span>Great for small bussiness</span>
                </div>
            </div>
            
            <div  class="plan_price">
                <div class="plan_price_text">
                    <span class="dollar">
                        $
                    </span>
                    <span class="amount">
                        5
                    </span>
                    <span class="period">
                        MONTHLY
                    </span>
                </div>

                <div class="side_text">
                    <div class="triangle_right">

                    </div>
                    <span class="side_text_tag">
                        JOIN
                    </span>
                    
                </div>
                <div class="tri_black">

                </div>

            </div>
            <div class="middle_tri">

            </div>
            <div class="features">
                <ul class="list-group">
                    <li class="list-group-item"><img src="images/ico1.png" /> <span>24/7 Tech Support</span></li>
                    <li class="list-group-item"><img src="images/ico2.png" /> <span>Advanced Options</span></li>
                    <li class="list-group-item"><img src="images/ico3.png" /> <span>100GB Storage</span></li>
                    <li class="list-group-item"><img src="images/ico4.png" /> <span>1GB Bandwidth</span></li>
                   
                </ul>
                <div class="bottom_text">
                    <span>Up to 1 million searches</span>
                </div>
            </div>

           

        </div>
        <div class="plan plan1">

            <div class="plan_header">

                <div class="plan_name">
                    <h3>RUN</h3>
                    <span>Great for small business</span>
                </div>
            </div>

            <div class="plan_price">
                <div class="plan_price_text">
                    <span class="dollar">
                        $
                    </span>
                    <span class="amount">
                        9
                    </span>
                    <span class="amount1">
                        79
                    </span>
                    <span class="period">
                        MONTHLY
                    </span>
                </div>

                <div class="side_text">
                    <div class="triangle_right">

                    </div>
                    <span class="side_text_tag">
                        JOIN
                    </span>

                </div>
                <div class="tri_black">

                </div>

            </div>
            <div class="middle_tri">

            </div>
            <div class="features">
                <ul class="list-group">
                    <li class="list-group-item"><img src="images/ico1.png" /> <span>24/7 Tech Support</span></li>
                    <li class="list-group-item"><img src="images/ico2.png" /> <span>Advanced Options</span></li>
                    <li class="list-group-item"><img src="images/ico3.png" /> <span>100GB Storage</span></li>
                    <li class="list-group-item"><img src="images/ico4.png" /> <span>1GB Bandwidth</span></li>
                </ul>
                <div class="bottom_text">
                    <span>Up to 5 million searches</span>
                </div>
            </div>



        </div>
        <div class="plan plan2">
            <div class="plan_header">

                <div class="plan_name">
                    <h3>FLY</h3>
                    <span>Great for small business</span>
                </div>
            </div>
            <div class="plan_price">
                <div class="plan_price_text">
                    <span class="dollar">
                        $
                    </span>
                    <span class="amount">
                        12
                    </span>
                    <span class="period">
                        MONTHLY
                    </span>
                </div>

                <div class="side_text">
                    <div class="triangle_right">

                    </div>
                    <span class="side_text_tag">
                        JOIN
                    </span>

                </div>
                <div class="tri_black">

                </div>

            </div>
            <div class="middle_tri">

            </div>
            <div class="features">
                <ul class="list-group">
                    <li class="list-group-item"><img src="images/ico1.png" /> <span>24/7 Tech Support</span></li>
                    <li class="list-group-item"><img src="images/ico2.png" /> <span>Advanced Options</span></li>
                    <li class="list-group-item"><img src="images/ico3.png" /> <span>100GB Storage</span></li>
                    <li class="list-group-item"><img src="images/ico4.png" /> <span>1GB Bandwidth</span></li>

                </ul>
                <div class="bottom_text">
                    <span>Up to 1 million searches</span>
                </div>
            </div>
        </div>
    </div>
    <img src="images/ft_image.png" class="footer_image" />
        
</div>